[2018-10-06 10:51] jdkanani opened #2 "Version 1.0.0-beta.1"
For version v1.0.0-beta.1, following checklist should be required:

- [x] Deposit
- [x] Local withdraw
- [x] Withdraw with backend APIs
- [x] Tx/receipt/header proof and verify proof APIs
- [x] Webpack setup
- [x] Eslint fixes for future pull requests
- [x] Necessary testcases
- [x] Documentation

[2018-10-09 12:55] jdkanani commented on #2
@shahbhavir Eslint fixes for future pull requests?

[2018-10-09 14:51] shahbhavir commented on #2
implemented here: https://github.com/maticnetwork/matic.js/pull/1

[2018-10-09 14:53] shahbhavir commented on #2
@saylip @0xAshish let's push some example code

[2018-10-11 09:20] shahbhavir commented on #2
Published package `maticjs` with `next` tag. Can be installed with `npm install --save maticjs@next`

[2018-10-11 09:47] shahbhavir opened #9 "Add example code for web and node environments"
- [x] Web example: https://github.com/maticnetwork/matic.js/pull/18
- [x] Node example: https://github.com/maticnetwork/matic.js/pull/5

[2018-10-11 09:50] shahbhavir commented on #2
Majority of the tasks are implemented here: https://github.com/maticnetwork/matic.js/pull/1
Package renaming, publishing, and other changes are here: https://github.com/maticnetwork/matic.js/pull/7

[2018-10-11 09:50] #2 closed

[2018-10-11 10:03] shahbhavir opened #10 "Should we get rid of fetch polyfill ?"
Remove `isomorphic-fetch` from the codebase, and we should convey message clearly to library users (developers).

Few fetch polyfill libraries: [github/fetch](https://github.com/github/fetch), [isomorphic-fetch](https://github.com/matthew-andrews/isomorphic-fetch)

Find the relevant discussion here: https://github.com/w3ctag/polyfills/issues/6

[2018-10-26 07:34] jdkanani commented on #9
@anurag-arjun @ptsayli @shahbhavir Let's finish this as soon as possible.

[2018-10-26 07:36] jdkanani opened #15 "Add transferTokens/ethers for other network"
We could pass `parent` flag in `options` to give a hint which network we want to use.

[code]

Only two methods we have to implement -

1. `matic.transferTokens` (already implemented). Add simple `parent` flag in options.
2. `matic.transferEthers(to, amount, options)` (new method). It will also have `parent` flag. It will work like this -

 - For Matic: when matic.js is initialized (or when `trans

[2018-10-29 16:25] jdkanani opened #17 "Add `getMappedTokenAddress` to get mapped token address"
Add `getMappedTokenAddress` method to get token address mapped with mainchain token address.

[code]

[2018-10-30 19:54] jdkanani commented on #15
See https://github.com/maticnetwork/matic.js/pull/16

[2018-10-30 19:54] #15 closed

[2018-10-31 09:57] #9 closed

[2018-10-31 09:59] shahbhavir commented on #17
related PR: https://github.com/maticnetwork/matic.js/pull/19

[2018-10-31 09:59] #17 closed

[2019-01-17 10:04] shahbhavir opened #22 "Setup test framework"
[Mocha](https://github.com/mochajs/mocha) or something similar

[2019-03-21 00:51] jdkanani opened #31 "Explicitly fetch `withdrawManager` and `depositManager` address from rootChain contract if not provided"

[2019-04-15 07:39] atvanguard commented on #31
Under the new design, we would need to fetch `registry` address from `rootChain` and then `registry.getDepositManagerAddress()` and `registry.getWithdrawManagerAddress()`

[2019-05-19 03:22] lebed2045 opened #36 "litely no enviremental envireables"
[code]
- I would expect README info how to define them of define it in the code.

[2019-07-19 10:56] jamesmorgan opened #45 "Example file get-matic-token-address.js doesnt run without a code change"
bad import within the `examples` project

`const Matic = require('../../lib/index').default`

should be

`const Matic = require('maticjs').default`

file:

https://github.com/maticnetwork/matic.js/blob/master/examples/node/get-matic-token-address.js

[2019-07-23 12:12] ptsayli commented on #36
Please refer to this blog post:  https://docs.matic.network/matic-js-tutorial/#introducing-maticjs

[2019-07-23 12:12] #36 closed

[2019-07-23 12:23] shahbhavir commented on #45
https://github.com/maticnetwork/matic.js/pull/47 solves this.
Thank you @jamesmorgan for reporting 👏
Any more suggestions/issues, please feel free to report 👍

[2019-07-23 12:23] #45 closed

[2019-09-11 07:52] atvanguard commented on #31
Will provide this options under a flag, user can have the contract address automatically pulled from registry to decide to give it manually as well.

[2019-12-01 00:21] 0xAshish opened #68 "Add tx data generator for `TransferWithSig` ERC20/ERC721"
Raw tx data generator would be a great add on so that anyone using
`transferWithsig` won't need to know the inner workings or at least not reinventing the wheel.

https://github.com/maticnetwork/contracts/blob/master/contracts/child/misc/Marketplace.sol#L18

Porting code from test helpers would work
https://github.com/maticnetwork/contracts/blob/master/test/helpers/marketplaceUtils.js

[2020-01-17 10:42] atvanguard opened #82 "Update examples to pick contract addresses from @maticnetwork/meta"

[2020-01-21 13:18] nolim1t opened #84 "example/node deposit code failing to execute"
Need documentation in config.js for PARENT_TEST_TOKEN

Seems to be a required option for deposit

[2020-01-21 13:55] nglglhtr commented on #84
The token you'd like to deposit, if not already, must be mapped on Matic
otherwise you can use TEST erc20 tokens, with addresses:
`0x28C8713DDe7F063Fdc4cA01aB2A8856e0F243Fec` on Ropsten
and `0x9a93c912F4eFf0254d178a18ACD980C1B05b57b0` on Matic testnet v3

[2020-01-22 08:20] nolim1t commented on #84
what I was supposed to say as in ```deposit-ERC20.js```  the  example code which I'm using to learn the platform does not even run.

## Steps

1. Update ```FROM_ADDRESS``` and ```PRIVATE_KEY``` with ropsten private key
2. do a ```npm install``` and pull down all the dependencies
3. Run ```node deposit-ERC20.js```

### Actual Result

Fails to run because ```PARENT_TEST_TOKEN``` is missing from the

[2020-01-22 08:26] nolim1t commented on #84
see https://github.com/maticnetwork/matic.js/blob/58f069cc01a1366e3e5d093d6b355158a09a4911/examples/node/deposit-ERC20.js#L7

This config option does not exist

[2020-01-22 11:33] nolim1t commented on #84
I'm using my own deployed contracts which have ropsten and matic network equivalents so I can control issuance.

However the example code for deposit seems to fail with a transaction Reverted from the deposit manager contract (0x3bc6701ca1c32bbac8d1ffa2294ee3444ad93989).

 Is the any way of catching any exceptions to gather more information on why?

[2020-01-23 09:14] nglglhtr commented on #84
For deposits to work, the token is supposed to be mapped on root and child plasma contracts. (This: https://github.com/maticnetwork/contracts/blob/a4c26d59ca6e842af2b8d2265be1da15189e29a4/contracts/root/depositManager/DepositManager.sol#L158 is the reason for revert)

The best way for which would be for you to share your token address and we'll map it for you.
The mapping process deploys a new chi

[2020-01-24 08:54] nolim1t commented on #84
On Matic
0x34D13f8DFb4e31ba10B62C064A891EE3bb338396

On Ropsten
0x2Ca2C207a4Cd1796276Cf380D02E9a9Cc951bb28

[2020-01-27 08:29] nolim1t commented on #84
It's established that the example code is using the old API

[2020-01-27 08:29] #84 closed

[2020-01-29 17:55] Araton95 commented on #84
@nolim1t the same case for me.

Is there a way to map token myself?

If not please map this tokens too:

Ropsten 1 = 0x42e4F63353f8A166d0F0E7bE468275a3A0e973C9
Ropsten 2 = 0xB0B5e8E193A303EeC9F64f56eF6EA632F6DE5B1d

Matic 1 = 0x101188dd6e3eeb0a3efb35722fda2c29f17aaed1
Matic 2 = 0x0a61617e61cdf8cd1bad0d3edfe6e7cb586fe0de

[2020-01-30 07:59] nglglhtr commented on #84
@Araton95 the mapping is done by an owner account. So i will map it for you

Also, the mapping process is such that a new child token is deployed on Matic , so ideally you don't need to deploy there.
only root token address is required

Here are the mapped addresses on matic you can use:

Matic 1 (root: Ropsten 1) : 0xa2e5d90FB4306B313d1B43910DF415D125a02Bd3
Matic 2 (root: Ropsten 2) : 0xc06C9E3c1

[2020-01-30 08:01] nglglhtr commented on #84
If you have any further queries please ask on our technical support group https://t.me/joinchat/It3Y81DKW0p9gu1ztFgAUg

[2020-01-30 08:37] Araton95 commented on #84
@nglglhtr great, thanks

[2020-03-13 09:55] Erscheinung opened #89 "balance-of-ERC20.js file missing in /examples/node/"
node balance-of-ERC20.js does not run successfully because the module is missing.

[2020-04-14 08:35] #68 closed

[2020-05-20 09:41] atvanguard opened #101 "Integrate with bor.getRootHash while building block proof for exit"
https://github.com/maticnetwork/bor/pull/52

[2020-10-10 08:14] jdkanani opened #122 "PoS Bridge: Add method for `isExitProcessed` check for given Matic tx hash"
We can cache the Matic tx receipt data if called twice for the same tx hash.

Exit hash can be calculated by —

[code]

And then check —

[code]

[2020-10-12 19:35] #122 closed

[2020-11-27 21:41] n1c01a5 opened #130 "Matic initialization fail - TypeError: Matic is not a constructor"
When I try to instantiate Matic, I have this error:

TypeError: Matic is not a constructor

Here is the code:

import Matic from '@maticnetwork/maticjs'

// for mumbai testnet
const matic = new Matic({
	network: "testnet",
	version: "mumbai",
	parentProvider,
	maticProvider
  })

 matic.initialize()

Do you know why I have this error?

For information, I use node v14.

[2020-11-27 21:50] n1c01a5 commented on #130
import { createRequire } from 'module'
const require = createRequire(import.meta.url)

// import MaticPOSClient from '@maticnetwork/maticjs'
import pkg from '@maticnetwork/maticjs'

const { MaticPOSClient } = pkg

// and don't use initialize() function

[2020-11-30 02:47] itzmeanjan commented on #130
Use it 👇 way

[code]

[2020-12-12 17:15] ghost opened #132 "has no exported member 'TransactionReceipt'"
When I tried to connect to the MaticPOSClient with Angular 9.1.3 a got error
<img width="1025" alt="Screen Shot 2020-12-12 at 7 11 36 PM" src="https://user-images.githubusercontent.com/31731894/101990176-045b4b00-3cae-11eb-918f-b3495885bcde.png">
Angular v9.1.3
web3 v1.3.0
matic.js v2.0.15

[2020-12-13 04:34] itzmeanjan commented on #132
This does look like an error in `web3/types` package.

[2020-12-13 09:42] VoroshilovMax commented on #132
Can I resolve it myself or it will be resolve in the next update in the Matic.js package?

[2020-12-13 16:45] itzmeanjan commented on #132
It's a different package, not associated with matic.js, as I see. Tell me more about what you're trying to attain.

[2020-12-14 08:15] jdkanani commented on #132
@itzmeanjan Do you think it's problem with the web3 version matic.js uses?

[2020-12-14 09:20] VoroshilovMax commented on #132
This problem appears after MaticPOSClient initialization. Code example:
[code]
@itzmeanjan

[2020-12-15 07:20] itzmeanjan commented on #132
This [dependency](https://github.com/maticnetwork/matic.js/blob/a3cc75fe02641361a51da734475c772e6249b982/package.json#L48) in matic.js is not required anymore.

And it has been [deprecated](https://www.npmjs.com/package/@types/web3), we can rely on web3.js itself from now.

[2020-12-15 07:21] itzmeanjan commented on #132
I couldn't reproduce this on my machine. So it fails after `let maticPOSClient = this.connectToMatic();` line, is it ?

@VoroshilovMax

[2020-12-15 11:02] VoroshilovMax commented on #132
I found that this bug appears only if you work in .ts file. If switch all logic to the .js file everything will work fine. I think this obvious.

[2020-12-15 14:16] itzmeanjan commented on #132
If that's possible for you, it's fine.

But @jdkanani I think we can consider removing [`@types/web3`](https://github.com/maticnetwork/matic.js/blob/a3cc75fe02641361a51da734475c772e6249b982/package.json#L48) from dependency & start relying on web3's own type system for TypeScript part.

[2020-12-16 10:39] jdkanani opened #134 "Remove proofsUtil and use maticnetwork/plasma-core library instead"

[2020-12-16 10:41] jdkanani opened #135 "Cleanup code, use modular architecture and use import needed functions for better tree shaking"
- [x] Add publish script https://github.com/maticnetwork/matic.js/pull/142
- [x] Remove dist folder from git history https://github.com/maticnetwork/matic.js/pull/140
- [x] Use Github CI actions https://github.com/maticnetwork/matic.js/pull/137
- [x] Remove unwanted files like `test-blockchain` https://github.com/maticnetwork/matic.js/pull/136
- [x] Add eslint camelcase rule https://github.com/mat

[2020-12-17 13:06] jdkanani commented on #132
I have created issue #135 for the same. Have to debug more.

[2020-12-18 07:11] rahuldamodar94 opened #141 "TypeError: a.call is not a function"
Error while calling the exit function for pos withdraw

[code]

[2020-12-18 07:14] jdkanani commented on #141
This bug was introduced in `v2.0.17`

[2020-12-18 12:47] #132 closed

[2020-12-19 04:48] #10 closed

[2020-12-20 10:38] VogtAI opened #145 "Update CDN version in README"
I was stuck for over an hour using the CDN version 2.0.1 which is shown in the README trying to call the function depositEtherForUser(...)

`ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'network' of undefined
TypeError: Cannot read property 'network' of undefined `

Using the latest version worked like a charm:

`<script src="https://cdn.jsdelivr.net/npm/@maticnetwork/maticj

[2020-12-20 12:47] jdkanani commented on #145
@VogtAI Thanks for the report. That shouldn't happen since `jsdelivr@latest` should give the latest version. I will check and fix.

[2020-12-21 06:06] jdkanani commented on #145
Fixed on master branch.

[2020-12-21 06:06] #145 closed

[2020-12-21 06:18] #141 closed

[2020-12-21 08:16] jdkanani opened #147 "Add Github workflow to auto release npm package on tag creation"

[2020-12-21 09:20] #147 closed

[2020-12-24 10:29] jdkanani opened #152 "Add receiveMessage method for tunnel contract"
Tunnel contract helps developers to move arbitrary data from Ethereum to Matic and Matic to Ethereum.

While moving data from Matic to Ethereum, one event is generated `event MessageSent(bytes message)` - https://github.com/maticnetwork/pos-portal/blob/master/contracts/tunnel/BaseChildTunnel.sol#L13

There is one method on RootTunnel, `receiveMessage`, that needs to be called on the Ethereum chain

[2020-12-24 10:39] itzmeanjan commented on #152
`receiveMessage(bytes data...)` in ChildTunnelImplementation, right ?

[2020-12-24 10:52] jdkanani commented on #152
While at it, we can also expose `buildPayload` for custom data to developers. They can use it internally if their custom logic forces `receiveMessage(bytes data)` to be called from another function/contract and not directly.

[2020-12-27 20:28] VogtAI opened #153 "3000 post requests to RPC for function call maticPOSClient.exitERC20??"
Hey there,

when executing maticPOSClient.exitERC20(burnHash, {encodeAbi:true, legacyProof:true, from:user})
Chrome does 3000 post requests to the RPC within around 10 seconds. The function works fine otherwise, I'm just wondering if this is intended since it appears to be unnecessary load to the RPC.

[2020-12-28 05:22] itzmeanjan commented on #153
Yes this is required.

Due to the fact, during legacy proof generation, it needs to make RPC queries for fetching block number, hash, txRootHash, ReceiptHash for lots of blocks, which will be eventually fed into `exit` function i.e. for performing POS exit.

[2020-12-28 05:22] #153 closed

[2020-12-28 09:34] jdkanani commented on #153
@VogtAI We are optimizing non-legacy api. Once it's done, you don't have to use `legacyProof` on UI.

[2021-01-18 18:44] #152 closed

[2021-02-03 23:07] nradosevic opened #166 "UnhandledPromiseRejectionWarning while trying to bridge ERC20 tokens to the Matic network"
I followed the tutorial to bridge our ERC20 token into the Matic network. My code looks like this:

`const Matic = require('@maticnetwork/maticjs').default
const config = require('./config.json')

const from = config.FROM_ADDRESS // from address

// Create object of Matic
const matic = new Matic({
    maticProvider: config.MATIC_PROVIDER,
    parentProvider: config.PARENT_PROVIDER,
    rootChain:

[2021-02-03 23:29] #166 closed

[2021-02-03 23:33] nradosevic opened #167 "Approval method never executes while trying to bridge tokens to the Matic network"
I am trying to bridge our token into the Matic network. However, I'm experiencing some problems. When the approve method of the ERC20 token smart contract is being called I never get the results and everything is stuck.

Here's my code:
`const Network = require("@maticnetwork/meta/network");
const Matic = require('@maticnetwork/maticjs').default
const config = require('./config.json')

const netwo

[2021-02-04 17:29] nradosevic commented on #167
I figured it out. I was setting a gas price too low. When I increased it, it works fine.

[2021-02-04 17:30] #167 closed

[2021-02-04 17:34] nradosevic opened #168 "Getting TOKEN_NOT_SUPPORTED when trying to bridge tokens to the Matic network"
I'm trying to bridge our ERC20 token to the Matic network. Here's my code:
`const Network = require("@maticnetwork/meta/network");
const Matic = require('@maticnetwork/maticjs').default
const config = require('./config.json')

const network = new Network(config.network, config.version);
const from = config.FROM_ADDRESS; // from address
const MainNetwork = network.Main;
console.log('Network');
cons

[2021-03-13 00:36] kittyslasher opened #177 "RaidGuild Request: indexed.wtf doc edits and additions"
Hello blessed devs,
@ptsayli @rahuldamodar94 @arthcp @shahbhavir @atvanguard @jdkanani @itzmeanjan @delroybosco @Meshugah @itsmnthn @vers10ne @everdreamsoft @ayushgupta0610 @0xAshish @sanchaymittal @vaibhavchellani

We here at Raid Guild have brought you indexed.wtf and are taking care to make sure the docs we display for each Layer 2 and side-chain project are accurate and filled with information

[2021-03-17 13:57] adi44 opened #179 "Unable to use exitERC721 function"
Hey! I have been trying to use exiterc721 function. Whenever I run it, it throws an exception. they nft was minted on matic chain. After that I burnt it and executed exiterc721 function.

[2021-03-26 22:59] cruzdanilo commented on #135
as a workaround for bundle size optimization, i did the following:

import from lib:
[code]

webpack config:
[code]

[2021-04-11 00:23] freebyte opened #183 "Examples. POS-Client / Ether fails with BUFFER OVERRUN error code"
Error:

[code]

How to reproduce:

1. Run deposit.js

[code]

2. Run burn.js

[code]

3. Edit exit.js to insert 0xac77350551b6eaee6f09d77e3cf7ca03258dfeb7f86368ad85684dec4dd7a6aa from the previous step. Then run
[code]

The above error follows.

[2021-04-20 11:34] n1c01a5 commented on #130
not working with node v14

[2021-04-26 07:42] miguelmota opened #188 "How to use ethers.js signer as web3 provider?"
Hi, is ethers.js signer supported instead of web3.js provider? Thanks

[2021-04-29 17:16] will-holley commented on #183
Can't reproduce without those scripts.

[2021-04-29 17:20] will-holley opened #189 "[Inquiry] Project status?"
Hello,

A few questions:

- Is this being actively developed?
- Is there a roadmap?
- If either of the previous answers is no, why not?  Is this something that additional community involvement can help with?

Cheers,

Will

[2021-05-06 16:47] fastepic opened #194 "Problem with npm install !"
npm install @maticnetwork/maticjs@2.0.40
npm WARN deprecated ethereumjs-block@2.2.0: New package name format for new versions: @ethereumjs/block. Please update.
npm WARN deprecated ethereumjs-tx@1.3.7: New package name format for new versions: @ethereumjs/tx. Please update.
npm WARN deprecated ethereumjs-common@1.5.2: New package name format for new versions: @ethereumjs/common. Please update.
npm

[2021-05-06 18:09] SteversIO commented on #189
Definitely doesnt feel like it. their only partially useful readme references a file that doesnt exist.

[2021-05-07 09:55] jdkanani commented on #189
We are pushing changes on master and releasing the new versions now and then.

There are few things we need to change --  like using plasma-core lib for proof generation and optimize it. But currently, we are focusing on other things and come back with a roadmap on Matic.js

@ujjwalgupta94 will be leading the new roadmap.

[2021-05-07 15:47] will-holley commented on #189
In lieu of a roadmap, is there an task tracking system that can be shared in order to invite collaboration and accelerate velocity?

[2021-05-10 07:49] ujjwalgupta94 commented on #189
Right now, we are using github issue to track issues and take feature request. You can help by replying to issues and sending PR.

The plan is to use github discussion in future.

[2021-05-11 16:58] abcolor commented on #168
I got same error...

[2021-05-16 20:07] Qumeric commented on #130
I have the same issue.

[2021-05-17 08:13] rahuldamodar94 commented on #179
What error do you face ?

[2021-05-17 11:48] adi44 commented on #179
Hey @rahuldamodar94 It has been resolved now.

[2021-05-17 20:37] blmalone opened #199 "Question: Withdraw NFT from Matic to Ethereum"
Hello,

I'd like to understand the process of withdrawing ERC721 tokens that were minted on the Polygon Network.

Can an ERC721 token be minted on the Polygon network then withdrawn to L1? Or do withdrawals only work if the ERC721 token is first minted on L1, transferred to L2 and _then_ withdrawn back to L1?

If the former is true, what needs to be deployed on L1 to make this work i.e. Another ER

[2021-05-18 05:59] anurag-arjun commented on #199
This should help: https://docs.matic.network/docs/develop/ethereum-matic/pos/mintable-assets

[2021-05-18 05:59] #199 closed

[2021-05-18 06:00] anurag-arjun commented on #199
Please feel free to open if you have any doubts.

[2021-05-23 01:51] SteversIO opened #200 "maticPOSClient.depositSingleERC1155ForUser is timing out."
WIth a properly configured maticPOSClient i attempt to invoke depositSinglERC1155ForUser and it hangs until the default timeout of 750 seconds is reached.

I know the client is properly configured because i can use it to call the `.balanceOfERC721` and `.balanceOfERC20` functinos successfully.

Here's the code that fails:
[code]

Worth noting, my code below WORKS and successfully sends tokens acro

[2021-05-25 03:38] miguelmota opened #202 "Error: Cannot find module './mainnet/mumbai/index.json'"
Hi, I'm getting the error `Error: Cannot find module './mainnet/mumbai/index.json'` when using `network: 'mainnet'` config with `MaticPOSClient`. It works however when using `network: 'testnet'`.

Set up:

[code]

Error:

[code]

Version:

[code]

Any ideas on how to make it work with mainnet?  Thanks in advance.

[2021-05-25 03:51] miguelmota commented on #202
Alright, so the issue was that the sdk requires the config option `version: 'v1'`.

[code]

Would be nice to default to `v1` if network is `mainnet`.

Closing since it's resolved.

[2021-05-25 03:51] #202 closed

[2021-05-26 06:35] KirienzoEth opened #204 "isSingleERC1155ExitProcessed throws "TypeError: i is null" for old TXs"
Hi !
Since last week, ERC1155 tokens that were waiting to be retrieved on L1 after being burned on L2 are throwing an error when checked for exit being processed:
`maticPOSClient.isSingleERC1155ExitProcessed("0xbfc70c164f6951d9c9f3f87f2d1361ff216eb3d6fe9571430bd3f0711847a782");`
This check throws the error "TypeError: i is null" in the file "matic.umd.js", and when I try to call `exitSingleERC1155

[2021-05-26 07:08] rahuldamodar94 commented on #31
Already done.

[2021-05-26 07:08] #31 closed

[2021-05-26 07:09] #82 closed

[2021-05-26 07:09] #89 closed

[2021-05-26 07:09] rahuldamodar94 commented on #101
Done

[2021-05-26 07:09] #101 closed

[2021-05-26 07:11] rahuldamodar94 commented on #168
You will have to get your token mapped. You can follow this guide
https://docs.matic.network/docs/develop/ethereum-matic/submit-mapping-request

[2021-05-26 07:11] #168 closed

[2021-05-26 07:13] #179 closed

[2021-05-26 07:14] #183 closed

[2021-05-26 07:14] rahuldamodar94 commented on #188
Not supported,

[2021-05-26 07:18] rahuldamodar94 commented on #200
@SteversIO Are your trying to move your asset from Goerli <> Mumbai ?
If yes, then you might want to give a higher gas price and gas limit on goerli. There seems to be some issue in Goerli recently.

[2021-05-26 11:03] SteversIO commented on #200
Hey Rahul,

I've already set higher gas prices in my calls.  That is how I am able to get the deposit working when I manually invoke it with the code I wrote out.

I'm saying that if I use the Matic JS client and the helper function it exposes with . depositSingleERC1155ForUser then it hangs.

[2021-05-28 15:31] alexandrewolff opened #205 "maticPOSClient.exitERC20 returns error"
When I run maticPOSClient.exitERC20 (with correct burnTxHash value) it always returns the following error:

TypeError: Cannot read property 'blockNumber' of null

Even after waiting a long time to make sure checkpoint have been validated.

[2021-05-31 00:04] lopeselio opened #206 "MetaMask - RPC Error: MetaMask Tx Signature: User denied transaction signature."
Our game works flawlessly on the rinkeby testnetwork. We have deployed our contracts to mumbai tesnet successfully. But when we make a transaction, we are stuck on this issue.
1. MetaMask - RPC Error: MetaMask Tx Signature: User denied transaction signature.
2. Uncaught (in promise) Error: Transaction has been reverted by the EVM:
We are building dungeon crawler on the matic mumbai tesnet. It is a

[2021-05-31 00:05] lopeselio commented on #206
![image](https://user-images.githubusercontent.com/43913734/120124393-fc4a8580-c1d1-11eb-900e-6c237abdd624.png)

Shows a high gas limit and gas price as well

[2021-05-31 07:39] fenQY opened #207 "runnig the maticPOSClient.exitERC20 errer?"
mycode:
const burnHash = '0x37991a88ab2b4602e9ff942f99144501749c4d8c21e2323f18f5f1b4d3ec607f'
maticPOSClient.exitERC20(burnHash, options).then((res)=>{
            console.log("res: ", res);
            process.exit(0)
}).catch((err)=>{
            console.log("err: ", err);
            process.exit(0)
        })

errers:
err:  AssertionError [ERR_ASSERTION]: Burn transaction has not been checkpoi

[2021-05-31 07:42] fenQY commented on #207
More than 30 minutes since run maticPOSClient.burnERC20.

[2021-05-31 20:50] fuzious commented on #200
@SteversIO Sorry for the delayed response, i just tried it on my end and it seems to work fine at my end currently. Here is my script
`
const tx = await maticPOSClient.depositSingleERC1155ForUser(
      configPos.root.DERC1155,
      configPos.user.address,
      '123',
      '1',
      '',
      {
        from: configPos.user.address,
        gasPrice: '900000000000',
        gas: '550000',

[2021-06-01 01:40] fenQY commented on #207
More than 3h since run maticPOSClient.burnERC20, always this errer

[2021-06-01 05:37] rahuldamodar94 commented on #207
@fenQY

you need to wait for the checkpoint before call the exitERC20 function.
you can check if the checkpoint has happened or not using this public API
https://apis.matic.network/api/v1/mumbai/block-included/3720704

You will have to pass the block number of your burn transaction on matic mainnet !

[2021-06-01 05:37] #207 closed

[2021-06-01 05:42] fuzious commented on #206
@lopeselio Can you please elaborate or provide the scripts, which are failing.

[2021-06-01 05:44] fuzious commented on #205
@alexandrewolff Are you still facing this issue?

[2021-06-01 07:15] fenQY commented on #207
thank you!   when I get the checkpoint info call the exitERC20 function was ok.
________________________________
发件人: Rahul Prabhu ***@***.***>
发送时间: 2021年6月1日 13:38
收件人: maticnetwork/matic.js ***@***.***>
抄送: zhangming ***@***.***>; Mention ***@***.***>
主题: Re: [maticnetwork/matic.js] runnig the maticPOSClient.exitERC20 errer? (#207)

@fenQY<https://github.com/fenQY>

you need to wait for the che

[2021-06-01 07:21] fenQY commented on #207
How often does checkpoint commit?    I completed the above transaction yesterday.

[2021-06-01 10:29] ujjwalgupta94 commented on #194
this is occuring due to deprecated package dependency. We will work on this.

[2021-06-01 10:43] ujjwalgupta94 commented on #205
@fuzious let's handle the error and show a user friendly message.

[2021-06-01 10:53] alexandrewolff commented on #205
No the error was on my side, my MaticPOSClient providers were not well configured. Indeed a clearer error message would have helped 🙂

[2021-06-01 13:46] ujjwalgupta94 commented on #205
Opening this to add clear user message.

[2021-06-01 23:51] sdelvalle57 commented on #188
I believe this issue must be addressed, ethers is widely used,
I think @rahuldamodar94 is providing a bad support by just answering that

[2021-06-02 03:34] KirienzoEth commented on #204
Hey @rahuldamodar94 ! Thanks for taking this issue :)
Do you have any news on this ? It's been a week and we still can't complete withdrawals :/
Do you have any indication on how we could enable this temporarily without using the SDK ? (if the error comes from there)

[2021-06-02 07:38] fuzious commented on #204
Hi @KirienzoEth , sorry for the delayed response,
Actually I was able to produce it on my end, and I am getting `false` for this transaction hash. You might want to check that your pos client is properly configured. Here's how I did it:
[code]

[2021-06-02 09:47] KirienzoEth commented on #204
Hey @fuzious , thanks for your answer.
Can you try using RPC URLs instead ? I'm following the doc the letter by instantiating my SDK like this:
[code]
But I'm still getting the error :/

[2021-06-02 12:24] rahuldamodar94 commented on #188
Hey @sdelvalle57 @miguelmota

Sorry about that response.
what I meant was that, it is not supported currently, but it is on the roadmap
Shall post here when its added.

[2021-06-02 13:13] sudeepb02 opened #209 "MaticJS example scripts not working, documentation outdated"
The example scripts for MaticJS in the /examples directory is outdated. The scripts error out without any actionable message and the documentation for the same is also outdated.
For example: There is no `balance-of-ERC20.js` file in the examples directory, but it is mentioned in README. Other scripts also don't work even after following the README configuration steps.

[2021-06-02 13:19] ujjwalgupta94 commented on #204
ohk, public RPC can have issue sometimes due to load or threshold limit. You can find list of RPC to be used from here- https://docs.matic.network/docs/develop/network-details/network/

Anyway i am glad, you were able to solve the issue.

[2021-06-02 13:19] #204 closed

[2021-06-02 13:28] ujjwalgupta94 commented on #209
Ohk thanks for letting us know. We are working on improving docs - We have a PR open for doc update - https://github.com/maticnetwork/matic.js/pull/208/files

We also have plan to create new dedicated doc site. Regarding example - i will update with updated matic.js .

[2021-06-02 14:22] KirienzoEth commented on #204
Thanks ! It was actually a private one so, weird xD

[2021-06-02 20:35] #200 closed

[2021-06-03 05:26] #177 closed

[2021-06-03 05:45] lopeselio commented on #206
Hey @fuzious , we were building this project for 0x hack. https://github.com/de-Dungeon-Crawler/DungeonCrawler-Polygon/blob/main/blockchain/truffle-config.js
I have discussed this issue with the mentors from Polygon as we need help on this one.

[2021-06-03 06:56] lopeselio commented on #206
Our smart contracts are deployed to polygon mumbai testnet. The project works absolutely fine on Rinkeby. We are facing some issues with the Mumbai Testent.

Thanks and cheers.

[2021-06-04 08:23] fuzious commented on #206
Hey @lopeselio contacted you on 0x discord , we will carry this forward there.

[2021-06-04 15:57] #206 closed

[2021-06-05 07:01] Jay54520 commented on #153
How to lower the request speed as RPC provider has a rate limit of 100/second, so connection will be reset.

[2021-06-05 08:32] Jay54520 opened #210 "Sends Too Many Requests at Same Time"
https://github.com/maticnetwork/matic.js/blob/74e13d6a2f4beeb71eda81c0a936038bba1cbc36/src/libs/ProofsUtil.ts#L243 sends more than 100 requests to RPC at same time while almost all the providers will discard your request, I have tried with Infura, maticvigil registed and ankr.
Improve: sends 10/other number of requests at same time, wait them finished and then next.

[2021-06-05 15:40] rottenbeach opened #211 "Withdrawal from Polygon to Ethereum Stuck"
Hi,

I was testing bridging Ether to Polygon for use in DeFi and using the Matic Wallet bridge from Ethereum to Polygon was successful. However, on my test of withdrawing back to Ethereum the transaction was processed but the Ether never reached my Metamask wallet.

Transaction ID here: https://etherscan.io/tx/0x31b078face2ec2b5dbe2d3a419e0118dac4bb4e07bfc0ce83c5e1b88c65c4dfa

In the Polygon Disco

[2021-06-07 07:48] MaticParvez commented on #211
Hello ,

We see that you have successfully received the tokens. Since you are checking on the day to day balance change the same isn't reflecting you the change in balance.I have attached a screenshot which shows that there was a Deposit and withdrawal transaction.
If you are further queries to this please raise a support ticket with all details and team will assist you.
<img width="1364" alt="Scr

[2021-06-07 08:05] ujjwalgupta94 commented on #210
Good suggestion 👍 , i think its better to add configuration because limiting the call will slow the process. So its upto user to limit.

[2021-06-09 08:00] ujjwalgupta94 commented on #205
we debugged more and found - error is coming from web3.js directly, so can't do anything here. If you see we can improve  anything let us know.

[2021-06-09 08:00] #205 closed

[2021-06-09 19:30] sdelvalle57 opened #213 "TypeError: param is undefined"
Im trying to bridge tokens from ethereum to matic but Ive been having this issue and cannot get to find the answer, I believe this issue comes from `ABICoder`

FYI Im using nextjs with typescript

[code]
Respone:

![image](https://user-images.githubusercontent.com/12821552/121417497-97103600-c92f-11eb-86c8-fe6f3576e85c.png)

[2021-06-11 09:09] ujjwalgupta94 commented on #213
issue is coming from web3.js but not sure why ? Could you check your value once @sdelvalle57 - amount, from , account etc ?

[2021-06-12 13:25] Jay54520 commented on #210
Why takes so long? Only need a few codes

[code]

[2021-06-14 10:04] ujjwalgupta94 commented on #210
@Jay54520 this is done but we are testing the implementation. Allow us some time please.

[2021-06-14 17:55] officelinebacker commented on #211
Hello,

I had what appears to be this same issue, around the same time. Tokens burned, no call through the other side.
Wallet: 0xE7C64c3823997F5993c059D2C20324E033566903
TX: 0x4320b8903ae0b6670ab530f3eabcd4406db79aa14f381efbf6e31aa15019e74c
Token: ALCX
Qty: 1.198362509659974952

I was told on the matic form how to solve it, < https://forum.matic.network/t/missing-bridge-transaction-burned-tokens/1

[2021-06-19 16:43] sdelvalle57 commented on #213
Solved, I was sending `BigNumberish` from `ethersjs` as amount. Changed it to string and it worked

[2021-06-20 03:08] fawazraz opened #222 "How can i deploy a token on matic that store some amount of matic in contact during buy/sell."

[2021-06-20 19:06] sdelvalle57 opened #223 "AssertionError: Burn transaction has not been checkpointed as yet"
Im getting this error using mumbai network. Havent tried on mainnet yet.

[code]

What would be the best workaround to check for a txHash?

[2021-06-21 05:47] ujjwalgupta94 commented on #213
Good 👍

[2021-06-21 05:47] #213 closed

[2021-06-21 05:49] ujjwalgupta94 commented on #223
You can check here - https://explorer-mumbai.maticvigil.com/tx/0xdba139794982873b00827003be64db0ec0205886f7450fa773af747009bf91b1/token-transfers

[2021-06-21 06:19] fuzious commented on #222
Hi @fawazraz ,
If you want to just deploy a token on matic you can follow this guide:  https://docs.matic.network/docs/develop/remix for deployment. Can you please elaborate your use case some more, so that I can understand your problem.

[2021-06-21 06:30] fuzious commented on #223
Hi, @sdelvalle57
Checkpointing takes some time. So just wait for some time.
https://docs.matic.network/docs/develop/ethereum-matic/pos/getting-started

[2021-06-21 06:35] fawazraz commented on #222
during contract execution,need to store some % of matic fee in dev wallet.you can contact me through telegram (@fawaz_raz).for paid partnership

[2021-06-21 07:04] fuzious commented on #222
@fawazraz , if I am geeting you right, you can request some development tokens from the matic faucet here https://faucet.matic.network/

[2021-06-21 07:09] fawazraz commented on #222
iam not a developer.if you can help me to create this token and a dapp.it would be great.please contact me on telegram

[2021-06-21 08:58] ujjwalgupta94 commented on #189
@will-holley we are now using github project for tracking task. Take a look here - https://github.com/maticnetwork/matic.js/projects/1

[2021-06-21 17:44] KirankumarAmbati commented on #194
`npm ERR! Unexpected end of JSON input while parsing near '..."mime-types":"~2.0.11'`

From my experience, this might be a general error with npm. It might be an issue with npm caching.

Trying these steps might fix the issue:

1. `npm cache clear --force`
2. Delete `node_modules` and `package.lock.json`
3. Run `npm install`

[2021-06-22 06:39] liangwu opened #224 "Unable to resolve module 'tty' from 'node_modules/@maticnetwork/maticjs/dist/matic.node.js'"

[2021-06-22 06:40] liangwu commented on #224
does anybody meet this problem?

[2021-06-22 07:05] ujjwalgupta94 commented on #224
@liangwu which version you are using ?

[2021-06-22 08:39] liangwu commented on #224
the latest: 2.0.43

[2021-06-22 08:39] liangwu commented on #224
i am using it on my react native project

[2021-06-22 09:47] ujjwalgupta94 commented on #224
i am using it in vue project but didn't get any error. I also tested in nodejs project, but didn't :(.

I have created a test project - https://github.com/ujjwalgupta94/maticjs-test, see if you can reproduce here.

[2021-06-25 10:42] zhouhanseng opened #226 "Is there a method to fetch historical event logs like web3.eth.getPastLogs()?"
Hi, Currently historical contract transaction records can be fetched by [thegraph.com](thegraph.com). Since the service of thegraph is not stable enough, I want to ask is there a method that provided by polygon directly to fetch the historical event logs like `web3.eth.getPastLogs()` does?

[2021-06-25 20:51] fuzious commented on #226
Hi @zhouhanseng ,
We have not implemented that functionality, as of now, but meanwhile you can use web3 library for the same.

[2021-06-26 04:35] zhouhanseng commented on #226
Thanks @fuzious ,

According to [web3 document](https://web3js.readthedocs.io/en/v1.2.0/web3-eth.html), `web3.eth.getPastLogs()` should only work on Ethereum network. Does it work on Polygon network?

[2021-06-26 05:56] fuzious commented on #226
Yeah @zhouhanseng  absolutely, you can work with the polygon network completely using web3js be it deploying smart contracts directly to polygon or in your case fetching logs. Matic.JS is more suitable for tasks of cross bridge interactions like depositing to ethereum and withdrawing to matic etc.

[2021-06-26 21:56] playsnook commented on #211
Use calling contracts: https://docs.matic.network/docs/develop/ethereum-matic/pos/calling-contracts/erc20#exit
I experienced the same problem, then moved to using calls on contracts themselves and using maticPOSClient only to encode exit call data.

[2021-06-27 08:31] kaje94 opened #227 "Error on React-Native project"
**Describe the bug**
Getting the following error when installing and importing `@maticnetwork/maticjs` into a *React-Native* project.

Following is a screenshot of the error
![Screenshot_20210627_135643](https://user-images.githubusercontent.com/20398722/123537980-023f7200-d750-11eb-8008-c928e485e015.png)

2.0.43 is the `@maticnetwork/maticjs` version that I'm using

[2021-06-27 23:22] zhouhanseng commented on #226
Thanks a lot!

[2021-06-28 06:21] liangwu commented on #224
I fixed it.

https://github.com/maticnetwork/matic.js/discussions/229

[2021-06-28 12:16] sudeepb02 commented on #209
Hi @ujjwalgupta94 @fuzious,
Any ETA on when this will be fixed?

[2021-06-28 12:44] ujjwalgupta94 commented on #224
That's great @liangwu , thanks for posting the solution.

[2021-06-28 12:44] #224 closed

[2021-06-28 12:46] ujjwalgupta94 commented on #227
@kaje94 one user had the similar problem with react native project. He has posted this solution, please check this - https://github.com/maticnetwork/matic.js/discussions/229

[2021-06-28 12:46] #226 closed

[2021-06-28 13:07] ujjwalgupta94 commented on #209
Hey @sudeepb02 we have just updated the readme. Please check.

[2021-06-28 13:07] ujjwalgupta94 commented on #209
also when you say example script, you mean `examples` folder or doc codes ?

[2021-06-28 13:18] ujjwalgupta94 commented on #189
We have also added the roadmap in https://github.com/maticnetwork/matic.js/projects/1 . we will be actively updating the task here.

I hope this answer the all questions.

[2021-06-28 13:18] #189 closed

[2021-06-28 18:53] kaje94 commented on #227
This actually helped to fix this particular error.
Thanks

[2021-06-28 18:53] #227 closed

[2021-06-30 06:08] sudeepb02 commented on #209
I tried both, but none of them worked

[2021-06-30 06:16] #223 closed

[2021-06-30 06:19] fuzious commented on #209
Hey @sudeepb02 , we will be having a look at the examples folder, meanwhile, if you can share your code and error, maybe we can help you resolve it.

[2021-06-30 06:26] sudeepb02 commented on #209
Sure, but I need to check if I still have the scripts I wrote while testing

[2021-07-01 14:35] ujjwalgupta94 commented on #209
@sudeepb02 we have already started working on seperate doc site, @fuzious is also checking the examples code present in examples folder. So timeline wise, we will complete it by mid of this month.

[2021-07-11 16:13] #222 closed

[2021-07-12 05:28] #194 closed

[2021-07-12 05:41] #211 closed

[2021-07-12 19:12] ImPedro29 commented on #209
i didn't find anything about stake manager, is a missing doc or isn't implemented?

[2021-07-13 05:41] ujjwalgupta94 commented on #209
Matic.js doesn't contains anything related to staking. it is only for transaction related to  polygon bridge.

For staking part you can find it here -

https://docs.matic.network/docs/validate/basics/validator/

https://docs.matic.network/docs/validate/validator/staking

[2021-07-13 16:39] aalavandhan commented on #166
@nradosevic How did you resolve this?

[2021-07-14 11:34] ujjwalgupta94 commented on #210
@Jay54520 this is implemented in v - 2.0.44. You can limit the concurrency when creating a client -

[code]

Similarly can be done in POS client too.

[2021-07-14 11:34] #210 closed

[2021-07-14 12:12] ujjwalgupta94 commented on #22
Matic.js is meant to be interacting with polygon bridge, so i am not sure if this can be suited for generic contract test. For having an idea about test cases or how to test setup, please have a look at test codes inside test folder.

If you have something else in mind like any part of matic.js which we can expose and users can benefit from it, feel free to let us know.

On the other hand - You sh

[2021-07-14 12:12] #22 closed

[2021-07-21 12:11] ujjwalgupta94 commented on #209
@sudeepb02 have created the doc site here - https://maticnetwork.github.io/matic.js/ and we have also updated the examples.

Please let us know if you have any feedback.

[2021-07-21 12:11] #209 closed

[2021-07-23 15:31] arjunPolygon opened #239 "Require implementation of maticjs in multiple languages"
## Summary

Looking for community members to build out the maticjs implementation in Rust, Golang, Java & Python

### Basic example

https://www.npmjs.com/package/@maticnetwork/maticjs

### Motivation

We want a broader set of developers to be able to build dapps on Polygon thereby making it accessible to a large subset of developers.

[2021-07-25 15:10] bobsub218 commented on #239
The link you click in the job submission area does not work ...
So I preferred to upload the link to my work in the space dedicated to communications
This is my work / project I hope it will be useful to you:
https://github.com/bobsub218/For-different-developers (link correct)

[2021-07-26 07:14] MapxanMagar opened #243 "Lost my UST bridging from polygon to Eth"
Its been 4 days since the bridge , it says success but i cant see balance on neither polygon nor eth wallet.

transction id:0xcef19e689d2aaf70bd7f5e8b92b5058795d620fa71aecee8df96599ddb817c15

[2021-07-26 13:18] ujjwalgupta94 commented on #243
@MapxanMagar please raise a request on https://support.polygon.technology/support/home

[2021-07-26 13:18] #243 closed

[2021-07-27 06:16] chahakshah111 opened #245 "Invalid JSON RPC response"
I already have my smart contract deployed on rinkeby network after then I configured it for matic network as per the docs like this:

matic: {
      provider: function () {
        return new HDWalletProvider(MNEMONIC, `https://rpc-mumbai.matic.today`);
      },
      network_id: 80001,
      confirmations: 2,
      timeoutBlocks: 200,
      skipDryRun: true,
    },

after that when I deploy it us

[2021-07-27 12:15] ujjwalgupta94 commented on #245
@chahakshah111 could you share what doc link you are following ?

[2021-07-29 14:10] Josedpv opened #250 "Unable to use exitERC721 function { code: -32000, message: 'execution reverted' }"
You can see a detailed description of the error:
https://docs.google.com/document/d/1cBXjiGKdmMJ9bVLgCOPtxGthc1wEsApryUCP_a16IT0/edit

[2021-07-29 14:27] Josedpv commented on #179
Hey @adi44 can you please show me how did you solved the issue? I have been stuck there for a while

[2021-07-29 14:50] ujjwalguptaofficial commented on #250
could you try with this chainAddress - `0x86B4EC021875d0123ED209A333B29D67F9AC6540` ?

I tried with your chainAddress and got the same error, so issue is with chainManagerAddress.

[2021-07-29 15:03] Josedpv commented on #250
It is fixed thanks

[2021-07-29 15:36] bogdan opened #251 "Ability to generate exit proof without sending a transaction"
## Summary

We want these `ExitManager` methods to be exposed in the API:

* `buildPayloadForExit`
* `buildPayloadForExitHermoine`

### Basic example

[code]

### Motivation

Current functionality doesn't allow for a more precise control on when and how exit transaction is being sent to blockchain.
The only option is to send the exit transaction and hope for the best.
If you would want to control

[2021-07-29 21:00] Josedpv commented on #250
Now I have a new issue where the tokens aren't in the Dummycontract in goerli network, they are burned and exited, any ideas?

[2021-07-30 00:27] DavLiendoProgramming commented on #250
I have the same issue when sending my minted tokens from mumbai to goerli the exit funciton gives me  { code: -32000, message: 'execution reverted' }. I tried the address proposed by @ujjwalguptaofficial it does not give me any error now but the tokens are not showing on my wallet.

Any advice? my config.js is like this:
[code]

[2021-07-30 05:39] ujjwalguptaofficial commented on #251
Right now, you can do like this -

## buildPayloadForExit

[code]
### logSignature value

[code]

## call exit method

[code]
now you can use web3 to send the transaction by yourself.

I agree - its not clean code and not documented. But we are working on v3 of maticjs which will have more clean api. Can be tracked here - https://github.com/maticnetwork/matic.js/pull/252/files

[2021-07-30 05:59] Raneet10 commented on #250
Could you confirm whether your root token has `exists` function as defined in the interface here: https://github.com/maticnetwork/pos-portal/blob/master/contracts/root/RootToken/IMintableERC721.sol ?
This will be used by the predicate to see whether your tokens exist or need to minted: https://github.com/maticnetwork/pos-portal/blob/d06271188412a91ab9e4bdea4bbbfeb6cb9d7669/contracts/root/TokenPred

[2021-07-30 12:01] bogdan commented on #251
Good to know thanks.

[2021-07-31 15:19] idirall22 commented on #239
is it still open??

[2021-07-31 15:31] bobsub218 commented on #239
The work was to be completed in the time requested by the lender. . . it is
not open

Il giorno sab 31 lug 2021 alle ore 17:19 Makhlouf Idir Nassim <
***@***.***> ha scritto:

[2021-07-31 18:37] nkrishang opened #253 "Invalid JSON RPC response when generating proof for Matic to Ethereum state transfer"
## Context

I have a [state transfer bridge](https://docs.matic.network/docs/develop/l1-l2-communication/state-transfer) deployed on Goerli and Mumbai. The bridge works - a message passed from Goerli (root tunnel) appears in Mumbai (child tunnel).

I'm trying to generate a proof using [this script](https://docs.matic.network/docs/develop/l1-l2-communication/state-transfer#state-transfer-from-matic

[2021-08-01 14:47] nkrishang commented on #253
### Update

I'm not facing the above problem any longer. I did not change anything about the script or transaction hash mentioned in the issue's opening comment.

Although this is great news for me, I'd like to know how reliable it is to generate a proof using this library, and why I was facing the `Invalid JSON RPC response: ""` error. Otherwise, it's tough to be comfortable using the library in

[2021-08-02 15:02] ujjwalgupta94 commented on #253
This might be issue with the RPC you are using, you can switch to some other RPC and check.

The library is  nothing but wrapper over web3 and call contracts. We also use this inside our wallet.

You are free to report any issue if you think there is and we will look into it :).

[2021-08-02 15:02] #253 closed

[2021-08-02 15:04] ujjwalgupta94 commented on #253
Here is doc for rpc link - https://docs.matic.network/docs/develop/network-details/network/

[2021-08-02 15:10] ujjwalgupta94 commented on #245
this might be issue with RPC, you can switch to some other RPC and check. Here is RPC doc link for reference - https://docs.matic.network/docs/develop/network-details/network/

Let me know if need any other help.

[2021-08-02 15:10] #245 closed

[2021-08-02 15:15] ujjwalgupta94 commented on #239
yes @idirall22 its still open, feel free to share your project

[2021-08-02 15:19] ujjwalgupta94 commented on #239
@bobsub218 i saw your project, its great. But what we are looking is - a SDK library similar to matic.js where user can just call a method and it process inside e.g - plasma withdrawl, transfer etc.

Your project is more about contract call using matic-vigil lib.

[2021-08-02 19:39] bobsub218 commented on #239
I’m sorry I didn’t come up with the perfect solution to the problem, but
I’ve seen what the other developers submitted and their solutions don’t
match the generic requests presented by the problem in the hackathon. . .
so a first solution might be to split the prize equally to the developers
who participated or not give anyone any money. . . I’m curious to know what
Do you think of my thought. . .

[2021-08-08 14:58] idirall22 commented on #239
@ujjwalgupta94
 Hey, I'm working on a Golang SDK, I try to work on it during my free time, it' not yet finished
 https://github.com/idirall22/matic.go

[2021-08-10 06:03] idirall22 opened #258 "Exit Tokens: Log nor found in Receipt"
**Describe the bug**
Actually, I'm trying to transfer tokens from mumbai to goerli, the first step that consists of burning the tokens works but the second one exit fails.
![aaa](https://user-images.githubusercontent.com/26064387/128815798-083a85c7-43e7-4cb1-8073-560866e0f624.PNG)

The script that I use is as follow
https://github.com/Shard-Labs/lido-dao/blob/feature-matic/scripts/bridge/bridge.js

[2021-08-10 10:58] ujjwalguptaofficial commented on #258
You are withdrawing matic token right ?

[2021-08-10 13:49] idirall22 commented on #258
Yes

[2021-08-10 14:21] ujjwalguptaofficial commented on #258
matic is a plasma token but you are trying to exit using POS bridge. You will have to use plasma bridge for this - please see this doc - https://docs.matic.network/docs/develop/ethereum-matic/plasma/erc20/#withdraw

[2021-08-10 20:14] idirall22 commented on #258
@ujjwalguptaofficial Thank you for your help

I followed the link above that you sent me, and I was able to:
1- burn Matic  (success)
2- confirm withdraw (success)
3- exit process (fail)

I'm using the following code to exit, and I using the address of the ERC721 token

[code]
https://goerli.etherscan.io/address/0x3E46BEFDA7112d8954b923ea6bd9f07c2e615e10

But I get the following error:

![ttt](htt

[2021-08-11 02:42] ujjwalguptaofficial commented on #258
For plasma tokens - Once the checkpoint is submitted, user needs to wait for a challenge period of 7 days long.

For POS tokens - it is faster around an hour.

[2021-08-11 06:02] idirall22 commented on #258
even for mumbai -> Goerli testnet ?

[2021-08-13 04:34] ujjwalguptaofficial commented on #258
@idirall22 you are calling exit with contract address of withdraw manager proxy `0x2923C8dD6Cdf6b2507ef91de74F1d5E0F11Eac53`, you need to call it with token address.

also Mumbai-> Goerli testnet challenge period is 0 sec.

[2021-08-15 15:31] JimLynchCodes opened #259 "Withdraw Fails to Complete"
I am seeing a similar issue to this but in decentraland: https://github.com/maticnetwork/matic.js/issues/211

Since I am using a formatic account, I believe there is no way to use the official matic wallet. (please consider supporting this... I just made this wallet for decentraland and was not aware it is unsupported for Polygon network)

![Screen Shot 2021-08-15 at 9 38 42 AM](https://user-image

[2021-08-15 21:55] bernardoaraujor commented on #239
@arjunPolygon @ujjwalgupta94 I want to write a Rust implementation for this Bounty.

Gitcoin shows it as expired, as it was part of Eth CC hackathon.

Can I still work on it?

[2021-08-16 05:36] ujjwalguptaofficial commented on #259
seems like its an issue from decentraland. looking at logs - you can see the error in payload -

[code]

You can complete your withdrawal process by following ways -

1. Use this app - https://polygon-withdraw.matic.network/ . Paste your burn transaction hash and finish your tx.
2. You can also use matic.js to finish your tx. Take a look at this erc20 pos withdrawal exit - https://github.com/matic

[2021-08-16 08:15] idirall22 commented on #258
Hello @ujjwalguptaofficial you already helped me a lot :)
But actually, I'm facing another issue related to  `{ code: -32000, message: 'execution reverted' }`
This error happens after the step burns the tokens.
1- burn Matic (success)
2- confirm withdraw (`{ code: -32000, message: 'execution reverted' }`)
then after setting the gas to '70000' I got the following error:

![azeaeaze](https://user-im

[2021-08-18 03:29] ujjwalguptaofficial commented on #258
Hi @idirall22

Could you try again please ? I am getting right address.

It's not supported right now, but will add this. Right now i am working on [v3](https://github.com/maticnetwork/matic.js/pull/252), so will add this in v3.

[2021-08-23 12:55] #259 closed

[2021-08-23 12:55] #258 closed

[2021-08-23 12:55] ujjwalgupta94 commented on #250
closing due to inactivity, feel free to reopen.

[2021-08-23 12:55] #250 closed

[2021-08-26 21:36] jarcodallo opened #264 "Provider not set or invalid"
**Describe the bug**
A clear and concise description of what the bug is.

Currently I'm trying to instance a Maticjs client, but I got `Provider not set or invalid`. According to [SDKClient](https://github.com/maticnetwork/matic.js/blob/master/src/common/SDKClient.ts#L16), if you pass `parentProvider` on null or undefined, the `Web3Client` should use `options.network.Main.RPC`. The problem is that

[2021-08-28 06:16] ujjwalguptaofficial commented on #264
that is because RPC value for main network is not present in static repo - https://github.com/maticnetwork/static/blob/master/network/mainnet/v1/index.json

Anyway we are not saying anywhere regarding default RPC, so its mandatory to specify the provider.

We will remove this code in v3 of maticjs.

[2021-08-30 14:40] cryptofervid commented on #239
@arjunPolygon I would like to work on the maticjs implementation in Java. Is the opportunity still open? It shows open here but when I try to start work on the Gitcoin page, it redirects to Hackathon to register and hackathon says its past due date

[2021-09-01 13:53] #264 closed

[2021-09-14 15:17] ZackMcClary34 opened #269 "Approval for different address than the one who handles transaction"
I am using the sample node project (https://github.com/maticnetwork/pos-plasma-tutorial) to move some ZkGo from etherium Goerli network to polygon Mumbai network. The "Deposit" feature calls approve to add an allowance for address "0xdD6596F2029e6233DEFfaCa316e6A95217d4Dc34" . But then the "depositFor" that is called uses the "transferFrom" and checks the allowance of address "37c3bfc05d5ebf9ebb3f

[2021-09-14 15:21] ZackMcClary34 opened #270 "Exit of burn proof gives "Unexpected Token < at JSON""
**Describe the bug**
I am trying to "exit" with the transaction https://mumbai.polygonscan.com/tx/0xa7d25c9223eb8fd8145ea54ec518f7aaef1954f291bb88d7efbab34897b9987a . But when I do I get "Unexpected token < at JSON at position 0". I can also verify the block has past checkpoint here... https://apis.matic.network/api/v1/mumbai/block-included/18921480

#### Hint

* Shouldn't I be able to see the exi

[2021-09-14 19:32] ZackMcClary34 commented on #270
Also want to add the response details
<img width="1426" alt="Screen Shot 2021-09-14 at 2 32 33 PM" src="https://user-images.githubusercontent.com/17221806/133322112-029ad167-18fd-487b-a3a5-af58f64d72ff.png">

[2021-09-20 14:29] cristovaoth commented on #251
I built and deployed custom ChildTunnel and RootTunnel on Goerli/Mumbai.

I had already figured that I needed to execute ExitManager.buildPayloadForExitHermione to produce proof, when I stumbled up this issue. Still getting 403. Any tips on how to debug?

(Here's how I'm instantiating the client:)

[code]

[2021-09-24 05:27] ujjwalguptaofficial commented on #269
could you show me your code please ?

But yes approval and deposit both should be done on the same contract. You are interacting with two predicate address -

1. "ERC20PredicateProxy": "0xdD6596F2029e6233DEFfaCa316e6A95217d4Dc34",
2. "MintableERC20PredicateProxy": "0x37c3bfC05d5ebF9EBb3FF80ce0bd0133Bf221BC8",

since `ZackTalonICO2` is mintable token, so "MintableERC20PredicateProxy" is the right p

[2021-09-24 05:35] ujjwalguptaofficial commented on #270
is the issue still persist ?

[2021-09-24 13:54] ZackMcClary34 commented on #270
Yes @ujjwalguptaofficial

[2021-09-25 04:25] ujjwalguptaofficial commented on #270
@ZackMcClary34 what version of matic.js you are using ?

[2021-10-06 04:35] bboynton97 commented on #206
Please don't do that because then no one else can learn from this issue

[2021-10-08 05:47] ujjwalguptaofficial opened #273 "Add support for erc1155 transfer"
## Summary

Add support for erc1155 transfer

### Basic example

[code]

### Motivation

this will help users to transfer assets from one user to other.

[2021-10-11 09:47] JustroX commented on #273
Thank you for the PR. I tried to use it in my fork, I can't figure on how to use it properly. Do you have any examples of how to use it? Thank you :)

[2021-10-11 12:16] ujjwalgupta94 commented on #273
The PR has been merged and this feature is release into version - 2.0.47. The doc is being implemented, will share the link soon.

[2021-10-11 23:02] imkane commented on #273
I'm also interested in some examples. Thank you!

[2021-10-12 10:19] rohmanitsavirus opened #277 "Couldn't install package version 2.0.47"
**Describe the bug**
I couldn't install this package either using npm or yarn

#### Hint
`yarn add @maticnetwork/maticjs`

Error message
[code]

[2021-10-13 01:30] #277 closed

[2021-10-13 04:09] #270 closed

[2021-10-19 22:11] imkane commented on #166
@nradosevic how did you resolve this?

[2021-10-21 04:48] haianh130799 opened #281 "TypeError: undefined is not an object (evaluating 'process.stderr.fd')"
I'm install this package with yarn version 2.0.48 when init MaticPOSClient i catch error
TypeError: undefined is not an object (evaluating 'process.stderr.fd')

[2021-11-09 03:04] ujjwalgupta94 commented on #281
nope only goerli is allowed for testnet

what do you mean by showing exactly error message. Matic.js use `web3.js` for contract call so mostly all the errors are from `web3.js` itself.

We are working on better version of `maticjs` , so that will help you a lot with better code and understanding. Probably will be launched by next week mostly.

[2021-11-09 03:10] ujjwalgupta94 commented on #188
Hey @sdelvalle57 @miguelmota , we have finished new version of maticjs which will support ethers and web3 both. It has lot of additional changes.

Right now its in beta version, we are working on testing and reviewing. It would be great if you guys can provide feedback and anything you want to be added.

Here is discussion link - https://github.com/maticnetwork/matic.js/discussions/282

[2021-11-09 07:07] ujjwalgupta94 commented on #134
this is not required anymore, the v3 exposes different utils like `exitUtil` and `rootChainManager` etc so anyone can use it directly from there.

We have also solved the problem of cyclic dependency in proof generation api alias network api.

[2021-11-09 07:07] #134 closed

[2021-11-09 07:52] miguelmota commented on #188
Thanks @ujjwalgupta94! we'll check it out

[2021-11-11 02:49] #269 closed

[2021-11-29 04:58] #281 closed

[2021-11-29 05:02] ujjwalgupta94 commented on #188
we have released new version of maticjs with support for ethers, please read docs here - https://maticnetwork.github.io/matic.js/docs/setup/ethers/

[2021-11-29 05:02] #188 closed

[2021-11-29 05:05] ujjwalgupta94 commented on #135
We have added all of the above task in v3. Now size of the min bundle is around - 150kb. We have also added plugin support using which various others small codes can be shipped seperately.

[2021-11-29 05:05] #135 closed

[2021-11-30 02:30] ujjwalgupta94 commented on #223
We have added `isCheckPointed` method in version 3 of matic.js. Please check at - https://maticnetwork.github.io/matic.js/docs/pos/is-check-pointed/

[2021-12-06 11:32] ujjwalgupta94 commented on #188
we have also added examples for different cases, please have a look here - https://github.com/maticnetwork/maticjs-ethers/tree/main/examples

[2021-12-14 12:04] ujjwalgupta94 commented on #251
We have exposed the `ExitUtil` in v3 which can be used to create the proof independently. Have a look at docs - https://maticnetwork.github.io/matic.js/docs/advanced/exit-util/

[2021-12-14 12:04] #251 closed

[2021-12-15 22:27] vjumminz opened #299 "Issue with setting up Web3 client with Matic"
I have just begun working with matic.js and am having difficulty setting up the Web3ClientPlugin. I am getting a type error when trying to use the use function:
[code]
My code:
[code]

My package.json:
[code]
Have spent a couple hours trying to figure this out, even tried using different versions of matic.js. Getting the same issue with ethers as well. Assuming it's something simple I'm missing bu

[2021-12-16 02:48] ujjwalguptaofficial commented on #299
your code is -

[code]

change it to -

[code]

take a look at our example code - https://github.com/maticnetwork/matic.js/blob/master/examples/utils.js

[2021-12-16 07:22] vjumminz commented on #299
Such a simple fix. Appreciate the help!

[2021-12-16 07:22] #299 closed

[2021-12-30 09:43] rebmemer commented on #259
Hi, I don't think this is actually resolved.  The first link you sent doesn't support fortmatic wallets and the second link is dead so can't be used - meaning there is no solution?

[2022-01-04 07:42] ujjwalgupta94 commented on #259
Hi

The file is changed, so the url. Please have a look at - https://github.com/maticnetwork/matic.js/blob/master/examples/pos/erc20/withdraw_exit.js

[2022-01-19 00:32] miguelmota opened #311 "What is posRootChainManager.processReceivedMessage equivalent in v3?"
Hi, in v2 we called this method:

[code]

What is the equivalent of this method in v3?

Having a hard time finding it in docs

Thanks!

[2022-01-19 02:54] ujjwalguptaofficial commented on #311
ok, allow us some time to fix it.

[2022-01-20 05:07] ujjwalguptaofficial commented on #311
`processReceivedMessage` is part of fx-portal, so it's not in matic.js v3. We have created seperate [repo](https://github.com/fx-portal/maticjs-fxportal) for support of `fxportal` .

The equivalent api you can use is  - `withdrawExit`.

[code]

Here is doc - https://github.com/fx-portal/maticjs-fxportal#withdrawexit

for passing rootTunnel Address, you can pass value in `init` method -

[code]

[2022-01-20 05:15] miguelmota commented on #311
@ujjwalguptaofficial thanks for the examples! I will check out the new repo. Closing issue

[2022-01-20 05:15] #311 closed

[2022-01-28 14:42] c194 opened #315 "posClient.exitUtil.buildPayloadForExit Invalid Payload for Goerli/Mumbai Transaction"
## Describe the bug
The `maticjs` library returns a different, invalid burnproof payload than when I access the API directly for Mumbai transactions.

### For example:

I submit this withdrawal transaction on Mumbai: https://mumbai.polygonscan.com/tx/0xc2668907d53f85d1ca1808622e51dc8645c8e9e7cf1393347a156e015309160a

When I access the API directly using https://apis.matic.network/api/v1/mumbai/exi

[2022-01-28 15:07] ujjwalguptaofficial commented on #315
so i tried using the `buildPayloadForExit` and i received same result -

[code]

sharing the screenshot for ref -
![Screenshot from 2022-01-28 20-36-03](https://user-images.githubusercontent.com/10938615/151570758-1c5997aa-e750-412d-8741-6cb5ce5390e2.png)

[2022-01-28 15:12] ujjwalguptaofficial commented on #315
I am not sure what's happening in your case, but i will ask you to try changing the RPC.

also you could try with proof-api using -

[code]

just so you know - proof api also internally uses this code to return the proof.

[2022-01-28 15:43] c194 commented on #315
Thanks for the quick response @ujjwalguptaofficial ! It turns out this was RPC related. I was using a Speedy Node for Mumbai through Moralis, but switching my RPC to `"https://matic-mumbai.chainstacklabs.com"` resolved the issue. Thanks for your help!

[2022-01-28 15:43] #315 closed

[2022-02-10 12:57] lu599040708 commented on #239
wecasdce`32 32esz2z

[2022-02-10 12:57] lu599040708 commented on #239
@@323!@E

[2022-02-16 23:29] alexburciu commented on #130
try "POSClient"

[2022-04-01 21:26] m-a-x-i-m-u-s opened #327 "withdrawStart in POS gives error"
While calling withdrawStart with POSClient an error occurs due to the sender address being undefined.
A solution to the problem is specifying the sender address in the "from" field of second parameter of the withdrawStart function.
![image](https://user-images.githubusercontent.com/85619385/161343276-c90229ad-e7c3-4914-8bd8-1e9da8ce7dad.png)

[2022-04-04 06:43] ujjwalgupta94 commented on #327
this is because you have not provided `from`  value. You can provide `from` in transaction option or you can provide default value in client.

[code]

or in the client as default from -

[code]

this one is more recommended, as it will save you to provide value in each transaction.

[2022-04-04 06:43] #327 closed

[2022-04-04 19:50] rcsm89 commented on #239
hi python dev here, still active?

[2022-04-11 12:34] AKIN52 opened #330 "thanks"
## Summary

Brief explanation of the feature.

### Basic example

Include a basic example or links here.

### Motivation

Why are we doing this? What use cases does it support? What is the expected outcome?

[2022-04-11 14:07] #330 closed

[2022-04-20 17:38] andrewkmin opened #332 "Dependency vulnerability"
Apologies if this is the wrong avenue for reporting, but just wanted to highlight a vulnerability in a dependency of this project:

**Describe the bug**
A clear and concise description of what the bug is.
`ethereumjs-block` has been deprecated: https://github.com/ethereumjs/ethereumjs-block
It can now be found via `@ethereumjs/block`.
`ethereumjs-block` references the package `merkle-patricia-tree

[2022-04-21 10:33] ujjwalgupta94 commented on #332
ok, will do these changes.

[2022-04-21 17:01] andrewkmin commented on #194
late followup here, but what's the current recommended version of node to be running with this? having some trouble getting the dev env set up locally.

[2022-04-22 00:28] lorines commented on #332
Hi @ujjwalgupta94 do you have any updates on this? Could we have the fix by tomorrow?

[2022-04-22 04:00] ujjwalgupta94 commented on #332
@lorines we are working on the version update, but seems like it will take some time. The API's are changed and so need to figure out changes.

I am working on the PR here - https://github.com/maticnetwork/matic.js/pull/333 , feel free to contribute.

Also BTW - the vulnerability is nothing related to security, its prototype pollution. So nothing to be taken in a serious manner, but i will try to

[2022-04-22 17:04] lorines commented on #332
@ujjwalgupta94 it does seem link a security risk: https://portswigger.net/daily-swig/prototype-pollution-the-dangerous-and-underrated-vulnerability-impacting-javascript-applications

[2022-04-26 04:03] jc911 opened #334 "Name export 'use' not found."
### I refer to this doc
https://docs.polygon.technology/docs/develop/ethereum-polygon/matic-js/get-started

#### My js code:
[code]

#### Terminal return:
[code]

#### Hint

* I have add {"type": "module"} in my package.json

[2022-04-26 06:20] ujjwalgupta94 commented on #334
Are you using in node.js code ? if yes please use `require` syntax.

[2022-04-26 08:36] jc911 commented on #334
Yes! Thank you!
Another question, do you know how to run the code in the doc?
What environment do I need to run code like this?
[code]

[2022-04-30 21:09] dellwatson opened #335 "WithdrawExit doesn't work"
**Describe the bug**
The tx has been checkpointed, but unable to validate the proof?

[code]

[2022-04-30 21:10] dellwatson commented on #335
wow Just checked the  answer from #315
changing the mumbai's rpc solve the issue

[2022-04-30 21:10] #335 closed

[2022-05-03 11:19] ujjwalgupta94 commented on #334
hey you need to just add `.env` file similar to `.env.example` file

[2022-05-03 11:19] #334 closed

[2022-05-03 12:01] ujjwalgupta94 commented on #332
this has been fixed in v - 3.3.0

[2022-05-03 12:01] #332 closed

[2022-05-06 11:19] rawatnaresh opened #336 "importing `matic.js` throws an exception in react-native"
**Describe the bug**

```Error: Unable to resolve module events from /matic/node_modules/@ethereumjs/common/dist.browser/index.js: events could not be found within the project or in these directories```
#### Hint

- created a new react-native project using `npx react-native init MyApp`
- installed
  - `@maticnetwork/maticjs`
  -  `@maticnetwork/maticjs-ethers`
  -  `@maticnetwork/maticjs-web3`

-

[2022-05-11 02:26] ujjwalgupta94 commented on #336
ok, will have a look today.

[2022-05-18 12:36] #336 closed

[2022-06-07 11:20] clumsier opened #340 "Unable to exit withdrawal of multiple ERC721 tokens on Mainnet."
Hey!

At Cyberkongz we are having our own UI for bridge, implemented using your SDK. Everything was going smoothly for over past 3-4 months, but some of our users reported that they can't exit their assets from Polygon to ETH and I've reproduced the issue.

For `Polygon -> ETH` we are using this method to start withdrawal - [https://maticnetwork.github.io/matic.js/docs/pos/erc721/withdraw-start-ma

[2022-06-08 05:31] ujjwalgupta94 commented on #340
yeah we also have not changed anything in maticjs or contracts as far as i know, the last release was on may3. anyway @clumsier could you please share the txhash where user is not able to exit please ?

[2022-06-08 06:39] clumsier commented on #340
@ujjwalgupta94

Hi, as I've stated before, all was included in sample repo.

Here is tx that user can't exit on Mainnet - [https://github.com/clumsier/poly-bridge-debug/blob/main/pages/index.tsx#L67](https://github.com/clumsier/poly-bridge-debug/blob/main/pages/index.tsx#L67)

Here is tx that user can exit on Testnet - [https://github.com/clumsier/poly-bridge-debug/blob/main/pages/index.tsx#L74](h

[2022-06-16 14:05] rahuldamodar94 commented on #340
Hey @clumsier , we have released a new version of matic.js which will unblock you for now - https://github.com/maticnetwork/matic.js/releases/tag/v3.4.0-beta.0

Have posted an example here - https://github.com/maticnetwork/matic.js/blob/master/examples/pos/erc721/withdraw_exit_on_index.js#L11 on how you can exit. We are updating the official matic.js documentation today and you will have better cl

[2022-06-16 14:13] rahuldamodar94 commented on #340
Also, I want to add on that we are exploring ways to implement the batchExit functionality on the smart contract level. Once it's done, you should be able to do the batchExit as you used to do it before. Until that you have to use matic.js to generate payload for individual NFT exits and user will have to sign each of these exits one by one. @py-zoid - please add on any other details if you feel i

[2022-06-20 16:28] clumsier commented on #340
Hi @rahuldamodar94

thanks. I've played with that on testnet and it seems to work. Do you have any ETA on bringing back this functionality, is it days/weeks?

[2022-06-23 07:46] rahuldamodar94 commented on #340
@clumsier The smart contract team is evaluating different solutions to implement it. Will keep you posted when have decided on how to proceed.

[2022-07-22 09:37] Shivam-Vatshayan commented on #130
const matic = require("@maticnetwork/maticjs").default;

const matic = new Matic({
      ^

SyntaxError: Identifier 'matic' has already been declared

Same issues still.

Any solutions ?

[2022-07-22 11:02] ujjwalgupta94 commented on #130
@Shivam-Vatshayan its javascript simple error, you are using `matic` variable to top but seems like you wanted to use `Matic`.

[2022-07-22 11:05] ujjwalgupta94 commented on #130
Guys if anyone have any issue still, Please create a repo and share it here, so that others can help.

Thanks

[2022-07-22 11:05] #130 closed

[2022-07-22 11:11] ujjwalgupta94 commented on #130
hey guys

Also please follow this docs -

https://docs.polygon.technology/docs/develop/ethereum-polygon/matic-js/get-started/

the code to create client should be this way -

[code]

there is no default export in latest version.

[2022-07-22 11:14] ujjwalgupta94 commented on #130
also we have examples code, you can have a look here -

https://github.com/maticnetwork/matic.js/tree/master/examples

you can execute the simplest one i.e getting balance and understands the flow -

https://github.com/maticnetwork/matic.js/blob/master/examples/pos/erc20/balance.js

[2022-09-14 10:23] kr-pratikp commented on #199
@anurag-arjun
After referring to the document on POS MATIC bridge, I understood that
1) Transferring ERC-721 from ETH to MATIC is a deposit
2) Transferring ERC-721 from MATIC to ETH is withdraw

If the ERC-721 token is created on MATIC and if it is required to transfer to the Ethereum network, then what could be the process? (Basically, only withdrawal)
As per the documentation, the token will be

[2022-09-14 12:02] rahuldamodar94 commented on #199
@kr-pratikp

Please refer to https://wiki.polygon.technology/docs/develop/ethereum-polygon/mintable-assets
You can use matic.js for bridging - https://wiki.polygon.technology/docs/develop/ethereum-polygon/matic-js/get-started

[2022-09-22 09:02] Vatshayan commented on #130
Hi Team,
we are trying to send eth to Pol (vice versa) from plasma bridge.
we have used same apprcoh for connection to client.

but transcation is not happening successfully. (we are not getting ETH/MATIC to our address)

deposit
async function execute() {
  const plasmaClient = await getPlasmaClient();
  const erc20Token = plasmaClient.erc20(token, true);
  const result = await erc20Token.deposit

[2022-10-03 11:54] Vatshayan opened #358 "Error: Burn transaction has not been checkpointed as yet"
### Discussed in https://github.com/maticnetwork/matic.js/discussions/357

<div type='discussions-op-text'>

<sup>Originally posted by **Shivam-Vatshayan** September 29, 2022</sup>
**I am trying to do withdrawal using Matic Plasma. but Getting error : Error: Burn transaction has not been checkpointed as yet.**
Here is my code :

[code]

[2022-10-04 09:04] kr-pratikp commented on #199
@rahuldamodar94 README file stats the steps to deploy the pos contracts on localhost and mainnet. If we want to deploy the smart contracts on a matic Mumbai network, then which steps need to be followed?

[2022-10-10 05:26] kr-pratikp commented on #199
@rahuldamodar94 When I tried to call function 'withdrawStartWithMetaData' for ERC-721, I am getting error like: err { code: -32000, message: 'execution reverted' }. I can burn the token on the child chain using the 'withdrawStart' function, but I want some metadata to be transferred on the root chain, so I used 'withdrawStartWithMetaData', but got an error.
Can you please help me with this issue?

[2022-10-10 08:32] kr-pratikp opened #359 "Getting error while calling function 'withdrawStartMany' and 'withdrawStartWithMetaData'"
**Describe the bug**
As per the business logic, it is required to withdraw the ERC-721 token from Polygon(L2) to the Ethereum(L1) network. The 'withdrawStart' function is working properly to burn the token on the Polygon network, but while using 'withdrawStartMany' or 'withdrawStartWithMetaData', getting an error like: err { code: -32000, message: 'execution reverted' }.

#### Hint

* As per the i

[2022-10-17 06:38] rahuldamodar94 commented on #359
Hey @kr-pratikp , please send the contract adress of the token on polygon.

[2022-10-17 11:44] kr-pratikp commented on #359
It's ERC-721 token and address is 0x4a90354CC93A4BE2939Af43f272E4A5147775E9E.

[2022-10-26 08:35] MikeHibbert commented on #239
Where can we find a list of languages already covered?

[2022-11-11 17:39] GFStong commented on #239
Hi my friend, have you found examples of the use of the python language
你找到 python 语言的使用例子了吗